@import 'fonts';

body {
  display: flex;

  width: 100vw;
  margin: 0;

  align-items: center;

  background: #eee;
  justify-content: center;

  counter-reset: section;
  height: 100vh;
  font-family: Roboto, sans-serif;
}

h1 {
  width: 460px;
}

.list {
  margin: 32px 0;
  padding: 0;
  list-style: none;
  &__item {
    display: flex;

    margin: 8px;

    position: relative;
    justify-content: space-between;

    border-bottom: 1px solid darkgrey;

    padding: 4px 4px 4px 30px;

    img {
      margin-right: 8px;
    }

    &::before {
      content: counter(section);
      counter-increment: section;

      position: absolute;

      color: #565754;

      top: 50%;

      left: 5px;
      transform: translateY(-60%);
    }
  }
}

.total,
.average {
  font-size: 20px;
  &-population {
    font-size: 24px;
  }
}
